doctype
html
  head
    meta(charset='utf-8')
    title Snapdash
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href=asset('/stylesheets/styles.css', '/stylesheets/styles.min.css'))

  body
    block content
    script(async, src=asset('/javascripts/scripts.js', '/javascripts/scripts.min.js'))
